<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.coupon.CouponMapper">
    <insert id="insertCoupon" parameterType="com.example.hotel.po.Coupon"
            useGeneratedKeys="true" keyProperty="id">
        insert into Coupon(description,couponName,target_money,discount_money,start_time,end_time,hotelId,couponType,discount,status,room_num,bizRegion,vipLevel)
        values(#{description},#{couponName},#{targetMoney},#{discountMoney},#{startTime},#{endTime},#{hotelId},#{couponType},#{discount},#{status},#{roomNum},#{bizRegion},#{vipLevel})
    </insert>

    <select id="selectByHotelId" resultMap="Coupon">
        select * from Coupon where hotelId=#{hotelId}
    </select>

    <delete id = "deleteCoupon">
        delete from Coupon where id = #{id}
    </delete>

    <resultMap id="Coupon" type="com.example.hotel.po.Coupon">
        <result column="description" property="description"/>
        <result column="id" property="id"/>
        <result column="couponName" property="couponName"/>
        <result column="hotelId" property="hotelId"/>
        <result column="couponType" property="couponType"/>
        <result column="discount" property="discount"/>
        <result column="status" property="status"/>
        <result column="target_money" property="targetMoney"/>
        <result column="discount_money" property="discountMoney"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="room_num" property="roomNum"/>
        <result column="bizRegion" property="bizRegion"/>
        <result column="vipLevel" property="vipLevel"/>
    </resultMap>
</mapper>
